<div class="page-header">
	<h1>All contacts</h1>
</div>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email Address</th>
				<th>Phone Number</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Kelve</td>
				<td>kelve@gmail.com</td>
				<td>234234234</td>
				<td><a href="#" class="btn btn-default btn-xs">View</a></td>
			</tr>
			<tr>
				<td>Ivan</td>
				<td>ivan@gmail.com</td>
				<td>234234234</td>
				<td><a href="#" class="btn btn-default btn-xs">View</a></td>
			</tr>
			<tr>
				<td>Cleide</td>
				<td>cleide@gmail.com</td>
				<td>234234234</td>
				<td><a href="#" class="btn btn-default btn-xs">View</a></td>
			</tr>
		</tbody>
	</table>
</div>	