<div class="page-header">
	<h1>All contacts</h1>
</div>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email Address</th>
				<th>Phone Number</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="contact in contacts">
				<td>{{contact.name}}</td>
				<td>{{contact.email}}</td>
				<td>{{contact.phone}}</td>
				<td><a href="#/contact/{{$index}}" class="btn btn-default btn-xs">View</a></td>
			</tr>
		</tbody>
	</table>
</div>	